@use '../../../../../public/styles/main' as all;

header {
  @include all.my-section;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.content {
  @include all.flex-s-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  color: all.$color-white;
  background-color: all.$color-dark;

  &__logo {
    margin: 35px 0 40px 100px;
  }

  &__menu {
    display: flex;
    gap: 100px;
    margin: 0 100px 8px 0;

    ul {
      display: flex;
      gap: 30px;

      a {
        font-size: 23px;
        font-family: 'Poppins-regular';

        &:hover {
          color: all.$color-primary;
        }
      }
    }

    &__lang {
      display: flex;
      gap: 15px;
    }
  }
}
