<header>
  <div class="content">
    <a href="#" class="content__logo">
      <img src="assets/logo/logo.png" alt="logo" />
    </a>
    <div class="content__menu">
      <nav>
        <ul>
          <li><a href="#about-me">About me</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
        </ul>
      </nav>
      <div class="content__menu__lang">
        <button class="button button--transparent button--lang">DE</button>
        <button class="button button--primary button--lang">EN</button>
      </div>
    </div>
  </div>
</header>
