@use "../../../../../public/styles/main" as all;

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: all.$color-dark;
  height: 10dvh;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  color: all.$color-white;
  background-color: all.$color-dark;

  &__logo {
    left: 100px;
    bottom: 8px;
  }

  &__menu {
    display: flex;
    right: 200px;
    bottom: 8px;

    ul {
      display: flex;
      gap: 20px;

      a {
        font-size: 23px;
        font-family: 'Poppins-regular';

        &:hover {
          color: all.$color-primary;
        }
      } 
    }

    &__lang {
      display: flex;
      gap: 15px;
      left: 100px;
    }
  }
}
