<header>
  <div class="content">
    <a href="#" class="content__logo">
      <img src="assets/logo/logo.png" alt="logo" />
    </a>
    <div class="content__menu">
      <nav>
        <ul>
          <li>
            <a href="#about-me">{{ 'portfolio.header.link-1' | translate }}</a>
          </li>
          <li>
            <a href="#skills">{{ 'portfolio.header.link-2' | translate }}</a>
          </li>
          <li>
            <a href="#portfolio">{{ 'portfolio.header.link-3' | translate }}</a>
          </li>
        </ul>
      </nav>
      <div class="content__menu__lang">
        <button class="button btn--transparent btn--lang" (click)="useLanguage('de')">DE</button>
        <button class="button btn--primary btn--lang" (click)="useLanguage('en')">EN</button>
      </div>
    </div>
  </div>
</header>
