@use '../../../../../public/styles/main' as all;

.skills {
  @include all.my-section;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  width: 100%;
  height: 550px;
  max-width: 1440px;

  background-image: url('../../../../../public/assets/images/shadows/shadow-3.png');
  background-repeat: no-repeat;
  background-position-x: -570px;
  background-position-y: 310px;

  &__img {
    top: 210px;
    width: 80px;
    height: 4px;
  }
}

.title {
  @include all.flex-column;
  align-items: flex-end;
  top: 140px;
  height: 480px;
  width: 450px;

  &__p1 {
    top: 10px;
    text-align: right;
  }

  &__p2 {
    font-family: 'Poppins-bold';
    font-size: 32px;
    top: 20px;
    text-align: right;

    span {
      color: all.$color-secondary;
    }
  }

  &__p3 {
    top: 25px;
    text-align: right;
  }

  &__btn {
    top: 50px;
  }
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  top: 160px;
  right: 190px;
  height: 380px;
  width: 400px;

  &__icons {
    @include all.flex-c-s-around;
    align-items: center;
    width: 100px;
  }
}
