<section class="skills">
  <div class="content">
    <img src="./assets/icons/line-horizontal.png" alt="line" class="content__img"/>
    <div class="title">
      <h2>My Skills</h2>
      <p class="title__p1">
        Show that you have used a variety of front-end technologies in your projects.
      </p>
      <p class="title__p2">
        Looking for <span>another skills</span>?
      </p>
      <p class="title__p3">
        Reveal enthusiasm for learning new technologies and frameworks.
      </p>
      <button class="button button--primary title__btn">Get in touch</button>
    </div>
    <div class="tech">
      <figure class="tech__icons">
        <img src="./assets/icons/technologies/api.png" alt="api" />
        <figcaption>API</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/typescript.png" alt="typescript" />
        <figcaption>TypeScript</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/angular.png" alt="angular" />
        <figcaption>Angular</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/git.png" alt="Git" />
        <figcaption>Git</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/html.png" alt="HTML" />
        <figcaption>HTML</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/css.png" alt="CSS" />
        <figcaption>CSS</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/javascript.png" alt="Javascript" />
        <figcaption>JavaScript</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/supabase.png" alt="Supabase" />
        <figcaption>Supabase</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/continually-learning.png" alt="Supabase" />
        <figcaption>Supabase</figcaption>
      </figure>
    </div>
  </div>
</section>
