<section id="skills" class="skills">
  <div class="content">
    <img src="./assets/icons/line-horizontal.png" alt="line" class="content__img" />
    <div class="title">
      <h2>{{ 'portfolio.skills.title' | translate }}</h2>
      <p class="title__p1">
        {{ 'portfolio.skills.p-1' | translate }}
      </p>
      <p class="title__p2">
        {{ 'portfolio.skills.p-2-part-1' | translate }}
        <span>{{ 'portfolio.skills.p-2-part-2' | translate }}</span
        >?
      </p>
      <p class="title__p3">{{ 'portfolio.skills.p-3' | translate }}</p>
      <a href="#contact-me" class="title__btn">
        <span>{{ 'portfolio.skills.link' | translate }}</span>
      </a>
    </div>
    <div class="tech">
      <figure class="tech__icons">
        <img src="./assets/icons/technologies/api.png" alt="api" />
        <figcaption>API</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/typescript.png" alt="typescript" />
        <figcaption>TypeScript</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/angular.png" alt="angular" />
        <figcaption>Angular</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/git.png" alt="Git" />
        <figcaption>Git</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/html.png" alt="HTML" />
        <figcaption>HTML</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/css.png" alt="CSS" />
        <figcaption>CSS</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/javascript.png" alt="Javascript" />
        <figcaption>JavaScript</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/supabase.png" alt="Supabase" />
        <figcaption>Supabase</figcaption>
      </figure>

      <figure class="tech__icons">
        <img src="./assets/icons/technologies/continually-learning.png" alt="Supabase" />
        <figcaption>Supabase</figcaption>
      </figure>
    </div>
  </div>
</section>
