<section>
  <div class="content">
    <div class="legal-notice">
      <a routerLink="/legal-notice">{{ 'portfolio.footer.legal-notice' | translate }}</a>
      <p>@ Reza Behruz {{ currentYear() }}</p>
    </div>

    <a href="#hero" class="logo">
      <img src="assets/images/logo/logo-dark.png" alt="logo" class="img-normal" />
      <p class="name">R.Behruz</p>
      <p class="profession">developer</p>
    </a>

    <div class="media">
      <a href="https://github.com/rezabehruz">
        <img src="assets/icons/footer/github.png" alt="github" class="img-normal" />
        <img src="assets/icons/footer/github-hover.png" alt="github" class="img-hover" />
        <img src="assets/icons/footer/github-mobile.png" alt="github" class="img-mobile" />
      </a>

      <a href="mailto:behruz.mreza@gmail.com">
        <img src="assets/icons/footer/email.png" alt="email" class="img-normal" />
        <img src="assets/icons/footer/email-hover.png" alt="email" class="img-hover" />
        <img src="assets/icons/footer/email-mobile.png" alt="email" class="img-mobile" />
      </a>

      <a href="https://www.linkedin.com/in/reza-behruz/">
        <img src="assets/icons/footer/linkedin.png" alt="linkedin" class="img-normal" />
        <img src="assets/icons/footer/linkedin-hover.png" alt="linkedin" class="img-hover" />
        <img src="assets/icons/footer/linkedin-mobile.png" alt="linkedin" class="img-mobile" />
      </a>
    </div>
  </div>
</section>
