@use '../../../../public/styles/main' as all;

section {
  @include all.display-flex($justify: center);
  background-color: all.$color-primary;
}

.content {
  @include all.display-flex($justify: space-between, $align: flex-end);
  width: 100%;
  max-width: 1440px;
  padding: 78px clamp(36px, 6vw, 88px);
  font-family: 'Josefin Sans regular';
  font-size: 16px;
  color: all.$color-background;

  @include all.mobile {
    @include all.display-flex($direction: column, $align: center, $gap: 24px);
    padding: 32px 0;
  }

  .legal-notice {
    @include all.display-flex($direction: column, $gap: 12px);
    font-size: 18px;

    a:hover {
      color: #4f5b64;
    }

    @include all.mobile {
      @include all.display-flex($wrap: wrap, $gap: 32px);
      order: 3;
      font-size: 16px;
    }
  }

  .logo {
    @include all.display-flex($direction: column, $align: center);

    .name {
      font-family: 'Anta regular';
      color: all.$color-secondary;
    }

    .profession {
      color: #4f5b64;
    }
  }

  .media {
    @include all.display-flex($gap: 16px);

    @include all.mobile {
      gap: 24px;
    }

    a {
      width: 30px;
      height: 30px;

      img {
        width: 100%;
        height: 100%;
      }

      .img-hover {
        display: none;
      }

      .img-mobile {
        display: none;
      }

      &:hover {
        .img-normal {
          display: none;
        }

        .img-hover {
          display: block;
        }
      }

      @include all.mobile {
        .img-normal {
          display: none;
        }

        .img-mobile {
          display: block;
        }

        &:hover {
          .img-hover {
            display: none;
          }
        }
      }
    }
  }
}
