@use '../../../../../public/styles/main' as all;

section {
  @include all.my-section;
}

.content {
  @include all.flex-column;
  height: 1000px;
  width: 100%;
  max-width: 1440px;

  &__title {
    @include all.flex-v-center;
    gap: 20px;

    img {
      height: 4px;
      width: 500px;
    }
  }

  &__details {
    @include all.flex-s-around;
    top: 20px;
  }

  &__arrow-up {
    display: flex;
    align-self: flex-end;
    top: 70px;
    right: 70px;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
}

.detail {
  width: 480px;
  h4 {
    font-family: 'Poppins-bold';
    font-size: 32px;
  }

  &__p-1 {
    top: 20px;
  }

  &__p-2 {
    top: 30px;

    span {
      font-family: 'Poppins-bold';
    }
  }
}

.form {
  @include all.flex-column;
  align-items: center;
  gap: 25px;
  width: 700px;
  color: all.$color-white;

  label[for='name'],
  label[for='email'] {
    height: 60px;
    width: 100%;
  }

  input[name='name'],
  input[name='email'] {
    height: 95%;
    width: 100%;
    padding: 15px 25px;
    outline: none;
    border: 2px solid all.$color-secondary;
    border-radius: 10px;
    transition: 0.4s;
    background: inherit;
    color: all.$color-white;
  }

  label[for='message'] {
    height: 300px;
    width: 100%;
  }

  textarea {
    height: 94%;
    width: 100%;
    padding: 15px 25px;
    outline: none;
    border: 2px solid all.$color-secondary;
    border-radius: 10px;
    transition: 0.4s;
    background: inherit;
    color: all.$color-white;
  }

  input:focus,
  textarea:focus {
    border: 2px solid all.$color-primary;
  }

  &__checkbox {
    @include all.flex-v-center;
    bottom: 15px;
    left: 15px;
    width: 100%;

    input[type='checkbox'] {
      display: none;
    }

    label {
      cursor: pointer;
    }

    label:before {
      content: '';
      top: 4px;
      right: 10px;
      height: 15px;
      width: 15px;
      border: 2px solid all.$color-primary;
      display: inline-block;
      position: relative;
      cursor: pointer;
    }

    input[type='checkbox']:checked + label:before {
      background-image: url('../../../../../public/assets/icons/check-box.png');
      background-repeat: no-repeat;
    }
  }

  ::placeholder {
    color: all.$color-white;
    opacity: 1;
  }

  &--warning {
    color: red;
  }

  input[class~='no-valid'],
  textarea[class~='no-valid'] {
    border: 2px solid red;
  }
}
