<section id="contact-me">
  <div class="content">
    <div class="content__title">
      <img src="assets/icons/line-horizontal.png" alt="line-horizontal" />
      <h2>Contact</h2>
    </div>
    <div class="content__details">
      <div class="detail">
        <h4>Got a problem to solve?</h4>
        <p class="detail__p-1">
          Encourage people to contact you and describe what role you are interested in. Show that
          you will add value to their projects through your work.
        </p>
        <p class="detail__p-2">Need a Frontend developer? <span>Contact me!</span></p>
      </div>
      <div>
        <form action="#" class="form" [formGroup]="contactForm" (ngSubmit)="submitForm()">
          <label for="name" [class]="name?.touched && !name?.valid ? 'form--warning' : ''">
            <input
              type="text"
              name="name"
              id="name"
              formControlName="name"
              [class]="name?.touched && !name?.valid ? 'no-valid' : ''"
              placeholder="Your name"
            />

            @if (name?.touched && !name?.valid) {
              Your name is required.
            }
          </label>

          <label for="email" [class]="email?.touched && !email?.valid ? 'form--warning' : ''">
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              [class]="email?.touched && !email?.valid ? 'no-valid' : ''"
              placeholder="Your email"
            />

            @if (email?.touched && !email?.valid) {
              @if (email?.value == '') {
                Your email is required.
              } @else {
                Your email is not valid.
              }
            }
          </label>
          <label for="message" [class]="message?.touched && !message?.valid ? 'form--warning' : ''">
            <textarea
              name="message"
              id="message"
              placeholder="Your message"
              formControlName="message"
              [class]="message?.touched && !message?.valid ? 'no-valid' : ''"
            ></textarea>
            @if (message?.touched && !message?.valid) {
              Your Message is required. min 20 Character.
            }
          </label>
          <div class="form__checkbox">
            <input type="checkbox" name="privacy" id="privacy" formControlName="privacy" />
            <label for="privacy">
              I've read the privacy policy and agree to the processing of my data as outlined.
            </label>
          </div>

          <button
            type="submit"
            [class]="
              name?.valid && email?.valid && message?.valid && privacy?.valid
                ? 'button btn--primary'
                : 'button btn--disabled'
            "
            [disabled]="!contactForm.get('privacy')?.valid"
          >
            Send message :)
          </button>
        </form>
      </div>
    </div>
    <a href="#" class="content__arrow-up">
      <img src="assets/icons/arrow-up.png" alt="move up" />
    </a>
  </div>
</section>
