<section id="contact-me">
  <div class="content">
    <div class="content__title">
      <img src="assets/icons/line-horizontal.png" alt="line-horizontal" />
      <h2>{{ 'portfolio.contact-me.title' | translate }}</h2>
    </div>
    <div class="content__details">
      <div class="detail">
        <h4>{{ 'portfolio.contact-me.title-1' | translate }}</h4>
        <p class="detail__p-1">
          {{ 'portfolio.contact-me.p-1' | translate }}
        </p>
        <p class="detail__p-2">
          {{ 'portfolio.contact-me.p-2' | translate }}
          <span>{{ 'portfolio.contact-me.p-3' | translate }}</span>
        </p>
      </div>
      <div>
        <form action="#" class="form" [formGroup]="contactForm" (ngSubmit)="submitForm()">
          <label for="name" [class]="name?.touched && !name?.valid ? 'form--warning' : ''">
            <input
              type="text"
              name="name"
              id="name"
              formControlName="name"
              [class]="name?.touched && !name?.valid ? 'no-valid' : ''"
              placeholder="Your name"
            />

            @if (name?.touched && !name?.valid) {
              {{ 'portfolio.contact-me.warning-1' | translate }}
            }
          </label>

          <label for="email" [class]="email?.touched && !email?.valid ? 'form--warning' : ''">
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              [class]="email?.touched && !email?.valid ? 'no-valid' : ''"
              placeholder="Your email"
            />

            @if (email?.touched && !email?.valid) {
              @if (email?.value == '') {
                {{ 'portfolio.contact-me.warning-2' | translate }}
              } @else {
                {{ 'portfolio.contact-me.warning-3' | translate }}
              }
            }
          </label>
          <label for="message" [class]="message?.touched && !message?.valid ? 'form--warning' : ''">
            <textarea
              name="message"
              id="message"
              placeholder="Your message"
              formControlName="message"
              [class]="message?.touched && !message?.valid ? 'no-valid' : ''"
            ></textarea>
            @if (message?.touched && !message?.valid) {
              {{ 'portfolio.contact-me.warning-4' | translate }}
            }
          </label>
          <div class="form__checkbox">
            <input type="checkbox" name="privacy" id="privacy" formControlName="privacy" />
            <label for="privacy">
              {{ 'portfolio.contact-me.checkbox-label' | translate }}
            </label>
          </div>

          <button
            type="submit"
            [class]="
              name?.valid && email?.valid && message?.valid && privacy?.valid
                ? 'button btn--primary'
                : 'button btn--disabled'
            "
            [disabled]="!contactForm.get('privacy')?.valid"
          >
            {{ 'portfolio.contact-me.btn-submit' | translate }}
          </button>
        </form>
      </div>
    </div>
    <a href="#" class="content__arrow-up">
      <img src="assets/icons/arrow-up.png" alt="move up" />
    </a>
  </div>
</section>
