<section>
  <div class="content">
    <div class="header">
      <h2>Contact Me</h2>
      <a href="">
        <img src="assets/icons/arrow.png" alt="arrow" class="arrow-normal" />
        <img src="assets/icons/arrow-hover.png" alt="arrow" class="arrow-hover"
      /></a>
    </div>
    <div class="details-contact">
      <p class="details">
        Encourage people to contact you and describe what role you are interested in. Show that you
        will add value to their projects through your work. <br />
        Example: Feel free to get in touch with job offers or opportunities such as: ...
      </p>
      <div class="contact">
        <a href="mailto:behruz.mreza@gmail.com" class="mail">
          <img src="assets/icons/mail-contact.png" alt="mail" class="icon-normal" />
          <img src="assets/icons/mail-contact-hover.png" alt="mail" class="icon-hover" />
          <p>E-mail: behruz.mreza@gmail.com</p>
        </a>
        <a href="tel:015751492254" class="phone">
          <img src="assets/icons/phone.png" alt="phone" class="icon-normal" />
          <img src="assets/icons/phone-hover.png" alt="phone" class="icon-hover" />
          <p>Tel: 0157 514 922 54</p>
        </a>
      </div>
    </div>
    <form action="">
      <div class="name-email">
        <label for="name">
          <span>Your name</span>
          <input type="text" id="name" />
        </label>
        <label for="email">
          <span>Your Email</span>
          <input type="email" id="email" />
        </label>
      </div>
      <label for="message" class="message-label">
        <span>Your message</span>
        <textarea name="message" id="message"></textarea>
      </label>
      <div class="checkbox">
        <button>
          <img src="assets/icons/checkbox.png" alt="checkbox" class="checkbox-normal" />
          <img src="assets/icons/checkbox-hover.png" alt="checkbox" class="checkbox-hover" />
          <img src="assets/icons/checkbox-checked.png" alt="checkbox" class="checkbox-checked" />
          <img src="assets/icons/checkbox-warnning.png" alt="checkbox" class="checkbox-warnning" />
        </button>
        <p>
          I've read the <span>privacy policy</span> and agree to the processing of my data as
          outlined.
        </p>
      </div>

      <button type="submit" class="btn-submit">Send</button>
    </form>
  </div>
</section>
