@use '../../../../../public/styles/main' as all;

section {
  @include all.display-flex($justify: center);
  background-color: rgb(243, 235, 222);
}

.content {
  @include all.display-flex($direction: column, $align: center, $gap: clamp(48px, 15vw, 78px));
  width: 100%;
  max-width: 1440px;
  padding: clamp(68px, 15vw, 78px) clamp(10px, 3vw, 88px) 100px clamp(10px, 3vw, 88px);
  color: all.$color-secondary;
  background: all.$color-background;
  font-family: 'Josefin Sans regular';
}

.header {
  @include all.display-flex($justify: center);
  width: 100%;

  h2 {
    color: all.$color-primary;
  }

  a {
    position: absolute;
    right: 2vw;
    bottom: 1vw;
    width: 38px;
    height: 89px;

    img {
      transform: rotate(180deg);
    }
    .arrow-hover {
      display: none;
    }

    &:hover {
      .arrow-normal {
        display: none;
      }

      .arrow-hover {
        display: block;
      }
    }
  }
}

.details-contact {
  @include all.display-flex($justify: center, $gap: 24px);

  .details {
    width: clamp(300px, 28vw, 480px);

    // width: 470px;
    font-size: clamp(16px, 2vw, 18px);
  }

  .contact {
    @include all.display-flex($direction: column, $gap: 22px);
    font-size: clamp(16px, 2vw, 20px);

    a {
      @include all.display-flex($align: center, $gap: 16px);

      p {
        padding-top: 3px;
      }

      .icon-hover {
        display: none;
      }

      &:hover {
        color: all.$color-primary;

        .icon-normal {
          display: none;
        }

        .icon-hover {
          display: block;
        }
      }
    }
  }
}

form {
  @include all.display-flex($direction: column, $align: center, $gap: 24px);
  width: 812px;

  label {
    @include all.display-flex($direction: column, $gap: 4px);
    color: all.$color-primary;
    width: 390px;

    span {
      margin-left: 32px;
    }

    input {
      border: 1px solid all.$color-primary;
      padding: 22px;
      border-radius: 28px;
      outline: none;

      &:focus {
        background-color: #435361;
      }
    }
  }

  .name-email {
    @include all.display-flex($gap: 24px);
  }

  .message-label {
    width: 100%;
    textarea {
      padding: 22px;
      width: 100%;
      height: 180px;
      border: 1px solid all.$color-primary;
      border-radius: 32px;
      resize: none;
      outline: none;

      &:focus {
        background-color: #435361;
      }
    }
  }

  .checkbox {
    @include all.display-flex($align: center, $gap: 16px);
    align-self: flex-start;

    span {
      color: all.$color-primary;
    }

    button {
      height: 24px;
      width: 24px;

      .checkbox-hover {
        display: none;
      }

      .checkbox-checked {
        display: none;
      }

      .checkbox-warnning {
        display: none;
      }
    }

    &:hover {
      button {
        .checkbox-normal {
          display: none;
        }

        .checkbox-hover {
          display: block;
        }
      }
    }
  }

  .btn-submit {
    align-self: flex-end;
    font-size: 18px;
    color: #aca9a0;
    padding: 12px 32px;
    border-radius: 22px;
    border: 1px solid #aca9a0;

    &:hover {
      background-color: #435361;
    }
  }
}
