<div class="navigation-mobile">
  <div class="logo-name">
    <img src="assets/images/logo/logo.png" alt="logo" class="img-normal" />
    <p>R.Behruz</p>
    <p class="profession">developer</p>
  </div>

  <button (click)="openMenu.emit()">
    <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round" class="burger-icon" role="button" aria-label="Toggle menu" tabindex="0">
      <line x1="3" y1="5" x2="38" y2="5"></line>
      <line x1="3" y1="14" x2="38" y2="14"></line>
      <line x1="3" y1="23" x2="38" y2="23"></line>
    </svg>
  </button>
</div>

<section>
  <div class="navigation">
    <a class="logo-name" href="#hero">
      <div class="logo">
        <img src="assets/images/logo/logo-dark.png" alt="logo" class="img-normal" />
      </div>
      <p class="name">R.Behruz</p>
      <p class="profession">developer</p>
    </a>
    <ul>
      <li [class]="navigationsService.showenSection() === 'whyMe' ? 'active-section' : ''">
        <a routerLink="/" fragment="why-me" (click)="navigationsService.changeNavigationSection('whyMe')">
          {{ 'portfolio.header.link-1' | translate }}
        </a>
      </li>
      <li [class]="navigationsService.showenSection() === 'mySkills' ? 'active-section' : ''">
        <a routerLink="/" fragment="skills" (click)="navigationsService.changeNavigationSection('mySkills')">
          {{ 'portfolio.header.link-2' | translate }}
        </a>
      </li>
      <li [class]="navigationsService.showenSection() === 'myProjects' ? 'active-section' : ''">
        <a routerLink="/" fragment="my-projects" (click)="navigationsService.changeNavigationSection('myProjects')">
          {{ 'portfolio.header.link-3' | translate }}
        </a>
      </li>
      <li [class]="navigationsService.showenSection() === 'contactMe' ? 'active-section' : ''">
        <a routerLink="/" fragment="contact-me"  (click)="navigationsService.changeNavigationSection('contactMe')">
         
          {{ 'portfolio.header.link-4' | translate }}
        </a>
      </li>
    </ul>
    <div class="language">
      <button (click)="changeLanguage('de')" [class]="languageService.language() == 'deutsch' ? 'active-lang' : ''">
        DE
      </button>
      <button (click)="changeLanguage('en')" [class]="languageService.language() == 'english' ? 'active-lang' : ''">
        EN
      </button>
    </div>
  </div>
</section>