@use '../../../../../public/styles/main' as all;

.about-me {
  @include all.my-section;
  align-items: center;

  &__content {
    @include all.flex-s-between;
    padding: 100px 0 60px 0;
    width: 100%;
    max-width: 1440px;

    // background-image: url('../../../../../public/assets/images/shadows/shadow-2.png');
    // background-repeat: no-repeat;
    // background-position-x: 165%;
    // background-position-y: -180px;
  }
}

.details {
  @include all.flex-column;
  flex-grow: 1;
  gap: 20px;
  margin: 0 10% 0 8%;

  &__p {
    display: flex;
    gap: 10px;

    &__icon {
      padding-top: 3px;
      height: 48px;
      width: 48px;
    }
  }
}

.content-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__img {
    width: 330px;
    height: 330px;
    padding: 20px 0 0 0;
    border: 5px solid all.$color-primary;
    border-radius: 50%;
  }

  &__line {
    width: 160px;
    height: 4px;
  }
}

@include all.notebook;
@include all.tablet;
@include all.mobile;
