<section id="about-me" class="about-me">
  <div class="content">
    <div class="details">
      <h2>{{ 'portfolio.about-me.title' | translate }}</h2>
      <p>
        {{ 'portfolio.about-me.p-1' | translate }}
      </p>
      <p class="details__p">
        <img src="assets/icons/location-1.png" alt="location" class="details__p__icon" />
        {{ 'portfolio.about-me.p-2' | translate }}
      </p>
      <p class="details__p">
        <img src="assets/icons/bulb-1.png" alt="bulb" class="details__p__icon" />
        {{ 'portfolio.about-me.p-3' | translate }}
      </p>
      <p class="details__p">
        <img src="assets/icons/puzzle-1.png" alt="puzzle" class="details__p__icon" />
        {{ 'portfolio.about-me.p-4' | translate }}
      </p>
    </div>
    <div class="content-img">
      <img src="assets/images/character-2.png" alt="character" class="content-img__img" />
      <img src="assets/icons/line-horizontal-green.png" alt="line" />
    </div>
  </div>
</section>
