@use '../../../../../public/styles/main' as all;

.about-me {
  @include all.my-section;
  align-items: center;
}

.content {
  @include all.flex-s-between;
  margin-top: 120px;
  height: 650px;
  width: 100%;
  max-width: 1440px;
}

.details {
  @include all.flex-column;
  gap: 20px;
  left: 90px;
  width: 470px;
  height: fit-content;

  &__p {
    display: flex;
    gap: 10px;

    &__icon {
      top: 3px;
      height: 48px;
      width: 48px;
    }
  }
}

.content-img {
  @include all.flex-center;
  align-items: center;
  height: 700px;

  &__img {
    bottom: 40px;
    width: 480px;
    height: 480px;
    border: 5px solid all.$color-primary;
    border-radius: 50%;
  }

  &__line {
    bottom: 40px;
  }
}
