@use '../../../../../public/styles/main' as all;

.portfolio {
  @include all.my-section;
}

.content {
  @include all.flex-column;
  padding-top: 100px;
  width: 100%;
  max-width: 1440px;

  background-image: url('../../../../../public/assets/images/shadows/shadow-3.png');
  background-repeat: no-repeat;
  background-position-x: -575px;
  background-position-y: -240px;

  &__p-1 {
    text-align: center;
    margin-top: 20px;
  }
}

.title {
  @include all.flex-v-center;
  flex-direction: row-reverse;
  gap: 30px;

  &__line-1 {
    width: 500px;
    height: 4px;
  }

  &__line-2 {
    width: 100px;
    height: 4px;
  }
}

.projects {
  @include all.flex-column;
  gap: 120px;
  margin-top: 100px;
  margin-left: 80px;

  background-image: url('../../../../../public/assets/images/shadows/shadow-4.png');
  background-repeat: no-repeat;
  background-position-x: -300px;
  background-position-y: 550px;

  &__project {
    @include all.flex-center;
    gap: 80px;

    img {
      height: 280px;
    }

    &--right {
      flex-direction: row-reverse;
      margin-right: 80px;
      text-align: right;
    }
  }
}

.details {
  @include all.flex-column;
  width: 520px;
  height: 320px;
  margin-top: 20px;

  h3 {
    font-family: 'Poppins-bold';
    font-size: 32px;
    color: all.$color-secondary;
  }

  &__p-1 {
    margin-top: 13px;
    font-size: 23px;
    color: all.$color-primary;
  }

  &__p-2 {
    margin-top: 23px;
  }

  &__options {
    display: flex;
    gap: 80px;
    margin-top: 50px;

    &--right {
      justify-content: flex-end;
    }
  }
}

.testimonials {
  @include all.flex-column;
  margin-top: 180px;

  background-image: url('../../../../../public/assets/images/shadows/shadow-5.png');
  background-repeat: no-repeat;
  background-position-x: 103%;
  background-position-y: 20%;
}

.main {
  display: flex;
  align-self: flex-end;
  gap: 50px;

  &__details {
    @include all.flex-c-s-between;
    width: 800px;
    height: 280px;
    padding: 40px 70px;
    font-family: 'Montserrat-regular';
    border: 4px solid all.$color-primary;
    border-radius: 30px;

    p {
      font-size: 20px;
      border: none;
    }

    div {
      @include all.flex-v-center;
      gap: 20px;
      font-size: 18px;
      border: none;

      img {
        display: flex;
        flex: 1;
        height: 2px;
      }
    }
  }
}

.character {
  @include all.flex-v-center;

  &__photo {
    height: 250px;
    width: 250px;
    border: 4px solid all.$color-secondary;
    border-radius: 50%;
    text-align: center;
  }

  &__line {
    height: 4px;
    width: 100px;
  }
}

.switch {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  padding-left: 5%;

  button {
    background-color: inherit;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  &__ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    img {
      height: 8px;
      width: 8px;
    }
  }
}
