<section id="portfolio" class="portfolio">
  <div class="content">
    <div class="title">
      <img src="assets/icons/line-horizontal.png" alt="line horizontal" class="title__line-1" />
      <h2>Portfolio</h2>
      <img src="assets/icons/line-horizontal.png" alt="line horizontal" class="title__line-2" />
    </div>
    <p class="content__p-1">
      Explore a selection of my work here - Interact with projects to see my skills in action.
    </p>
    <div class="projects">
      <div class="projects__project">
        <img src="assets/images/projects/join.png" alt="join" />
        <div class="details">
          <h3>Join</h3>
          <p class="details__p-1">Angular | TypeScript | HTML | CSS | Firebase</p>
          <p class="details__p-2">
            Task manager inspired by the Kanban System. Create and organize tasks using drag and
            drop functions, assign users and categories.
          </p>
          <div class="details__options">
            <button class="button btn--secondary">Live test</button>
            <button class="button btn--transparent">Github</button>
          </div>
        </div>
      </div>

      <div class="projects__project projects__project--right">
        <img src="assets/images/projects/pokedex.png" alt="join" />
        <div class="details">
          <h3>Pokédex</h3>
          <p class="details__p-1">JavaScript | HTML | CSS | Api</p>
          <p class="details__p-2">
            Based on the PokéAPI a simple library that provides and catalogues pokemon information.
          </p>
          <div class="details__options details__options--right">
            <button class="button btn--secondary">Live test</button>
            <button class="button btn--transparent">Github</button>
          </div>
        </div>
      </div>

      <div class="projects__project">
        <img src="assets/images/projects/el-pollo-loco.png" alt="join" />
        <div class="details">
          <h3>El Pollo Loco</h3>
          <p class="details__p-1">JavaScript OOP | HTML | CSS</p>
          <p class="details__p-2">
            Task manager inspired by the Kanban System. Create and organize tasks using drag and
            drop functions, assign users and categories.
          </p>
          <div class="details__options">
            <button class="button btn--secondary">Live test</button>
            <button class="button btn--transparent">Github</button>
          </div>
        </div>
      </div>

      <div class="projects__project projects__project--right">
        <img src="assets/images/projects/join.png" alt="join" />
        <div class="details">
          <h3>Join</h3>
          <p class="details__p-1">Angular | TypeScript | HTML | CSS | Firebase</p>
          <p class="details__p-2">
            Task manager inspired by the Kanban System. Create and organize tasks using drag and
            drop functions, assign users and categories.
          </p>
          <div class="details__options details__options--right">
            <button class="button btn--secondary">Live test</button>
            <button class="button btn--transparent">Github</button>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="main">
        <div class="main__details">
          <p>
            {{ testimonials[currentTestimonial].detail }}
          </p>
          <div>
            <img src="assets/icons/line-horizontal.png" alt="line-horizontal" />
            <p>{{ testimonials[currentTestimonial].name }}</p>
          </div>
        </div>
        <div class="character">
          <img [src]="testimonials[currentTestimonial].imageSrc" alt="character" class="character__photo" />
          <img
            src="assets/icons/line-horizontal.png"
            alt="line-horizontal"
            class="character__line"
          />
        </div>
      </div>

      <div class="switch">
        <button (click)="switchTestimonial('back')">
          <img src="assets/icons/arrow-back.png" alt="arrow backward" />
        </button>
        <div class="switch__ellipse">
          <img [src]="testimonials[0].display ? 'assets/icons/ellipse-selected.png' : 'assets/icons/ellipse.png'" alt="ellipse" />
          <img [src]="testimonials[1].display ? 'assets/icons/ellipse-selected.png': 'assets/icons/ellipse.png' " alt="ellipse" />
          <img [src]="testimonials[2].display ? 'assets/icons/ellipse-selected.png' : 'assets/icons/ellipse.png'" alt="ellipse" />
        </div>
        <button (click)="switchTestimonial('next')"><img src="assets/icons/arrow-forward.png" alt="arrow forward" /></button>
      </div>
    </div>
  </div>
</section>
