<section>
  <div class="content">
    <h2>Why me</h2>

    <div class="location-about">
      <div class="location">
        <div class="location__details">
          <img src="assets/icons/location.png" alt="location" />
          <p><span>I am </span>located in Munich..|</p>
        </div>
      </div>
      <div class="about">
        <div class="about__details">
          <p>Why are you passionate about coding?</p>
          <p>
            You can include some key traits like: analytical thinking, creativity, persistence and
            collaboration. A problem-solving mindset is always nice to have.
          </p>
        </div>
        <button>Let's talk</button>
      </div>
    </div>
  </div>
</section>
