<section>
  <div class="content">
    <div class="content-1">
      <img src="assets/images/character.png" alt="character" class="content-1__character" />

      <div class="title">
        <div class="title__part-1"><p>I am</p></div>
        <div class="title__part-2">
          <h1>Reza Behruz</h1>
          <h2>Frontend Developer</h2>
          <button class="button btn--primary">Let's Talk!</button>
        </div>
      </div>
    </div>

    <div class="content-2">
      <div class="content-2__social-media">
        <img src="assets/icons/line-horizontal.png" alt="line-horizontal" />
        <a href="#">
          <img src="assets/icons/github.png" alt="github" />
        </a>
        <a href="mailto:behruz.mreza@gmail.com">
          <img src="assets/icons/email.png" alt="mail" />
        </a>
        <a href="#">
          <img src="assets/icons/linkedIn.png" alt="linkedin" />
        </a>
        <p>behruz.mreza@gmail.com</p>
      </div>

      <div class="content-2__scroll-notice">
        <span>Scroll down</span>
        <img src="assets/icons/vector.png" alt="vector" />
      </div>
    </div>
  </div>
</section>
