<section>
  <div class="content-hero">
    <img src="assets/images/character.png" alt="character" class="character" />

    <div class="social-media">
      <img
        src="assets/icons/line-horizontal.png"
        alt="line-horizontal"
        class="social-media__line"
      />
      <a href="#" class="social-media__link"
        ><img src="assets/icons/github.png" alt="github" class="social-media__link__logo"
      /></a>
      <a href="mailto:behruz.mreza@gmail.com" class="social-media__link"
        ><img src="assets/icons/email.png" alt="mail" class="social-media__link__logo"
      /></a>
      <a href="#" class="social-media__link"
        ><img src="assets/icons/linkedIn.png" alt="linkedin" class="social-media__link__logo"
      /></a>
      <p href="#">behruz.mreza@gmail.com</p>
    </div>
 
    <div class="title">
      <div class="title__content">
        <div class="title__content__1"><h2>I am</h2></div>
        <div class="title__content__2">
          <h1>Reza Behruz</h1>
          <h2>Frontend Developer</h2>
          <button class="button button--primary">Let's Talk!</button>
        </div>
      </div>
    </div>
    
    <div class="scroll-notice">
      <span>Scroll down</span>
      <img src="assets/icons/vector.png" alt="vector" class="scroll-notice__img" />
    </div>
  </div>
</section>
