// Variables

$color-primary: #70e61c;
$color-secondary: #9747ff;
$color-disabled: #b6b6b6;
$color-white: #ffffff;
$color-dark: #141d2f;

section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90dvh;
  background-color: $color-secondary;
}

.content-hero {
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  font-family: 'Poppins-regular';
  color: $color-white;
  background-color: $color-dark;
}

.character {
  height: 750px;
  width: 550px;
  top: 40px;
  left: 100px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 650px;
  font-size: 23px;

  &__line {
    width: 100px;
  }

  &__link {
    height: 30px;
    width: 30px;
    &__logo {
      height: 100%;
      width: 100%;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  top: 100px;
  right: 50px;

  &__content {
    display: flex;
    justify-content: center;

    &__1 {
      height: 100px;
      width: 80px;
      top: 40px;
      left: 60px;
      transform: rotate(270deg);

      h2 {
        width: 150px;
        right: 43px;
        bottom: 70px;
        font-size: 64px;
       
      }
    }

    &__2 {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        height: 105px;
        font-size: 90px;
        font-family: "Poppins-bold";
        letter-spacing: 1.5px;
      }

      h2 {
        height: 70px;
        font-size: 58px;
       
        margin-block-start: 0;
        margin-block-end: 0;
        color: $color-secondary;
      }

      button {
        top: 80px;
      }
    }
  }
}

.scroll-notice {
  align-self: flex-end;
  top: 70px;
  right: 60px;
  font-size: 23px;
  transform: rotate(90deg);

  &__img {
    height: 16px;
    width: 16px;
    top: 2px;
    left: 10px;
    transform: rotate(270deg);
  }
}

