@use '../../../../../public/styles/main' as all;

section {
  @include all.my-section;
}

.content {
  @include all.flex-c-s-around;
  top: 20px;
  width: 100%;
  height: 100dvh;
  max-width: 1440px;
  font-family: 'Poppins-regular';
  color: all.$color-white;
  background-color: all.$color-dark;

  background-image: url('../../../../../public/assets/images/shadows/shadow-2.png');
  background-repeat: no-repeat;
  background-position-x: 175%;
  background-position-y: 250%;
}

.content-1 {
  @include all.flex-s-around;
  top: 60px;
  background-image: url('../../../../../public/assets/images/shadows/shadow-1.png');
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 100%;

  &__character {
    left: 20px;
    height: 750px;
    width: 550px;
  }
}

.title {
  @include all.flex-center;
  top: 200px;
  right: 50px;

  &__part-1 {
    top: 30px;
    left: 65px;
    height: 150px;
    width: 80px;
    transform: rotate(270deg);

    p {
      bottom: 55px;
      right: 30px;
      width: 150px;
      font-size: 64px;
    }
  }

  &__part-2 {
    @include all.flex-column;
    align-items: center;

    h1 {
      height: 105px;
      font-size: 90px;
      font-family: 'Poppins-bold';
      letter-spacing: 3px;
    }

    h2 {
      height: 70px;
      font-size: 58px;
      color: all.$color-secondary;
    }

    a {
      top: 80px;
      font-size: 23px;
      padding: 12px 30px;
      border-radius: 10px;
      background-color: all.$color-primary;
      transition: 0.3s;

      &:hover {
        padding: 18px 36px;
        background-color: all.$color-secondary;
      }
    }
  }
}

.content-2 {
  @include all.flex-s-between;
  top: 30px;

  &__social-media {
    @include all.flex-v-center;
    gap: 30px;
    width: 650px;
    font-size: 23px;

    img {
      width: 100px;
    }

    a {
      height: 30px;
      width: 30px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__scroll-notice {
    top: -75px;
    right: 60px;
    font-size: 23px;
    transform: rotate(90deg);

    img {
      top: 2px;
      left: 10px;
      height: 16px;
      width: 16px;
      transform: rotate(270deg);
    }
  }
}
