<section>
  <div class="content">
    <h2>{{'portfolio.why-me.title' | translate}}</h2>

    <div class="location-about">
      <div class="location">
        <div class="location__details">
          <img src="assets/icons/location.png" alt="location" />
          <p><span>{{'portfolio.why-me.location-1' | translate}} </span>{{'portfolio.why-me.location-2' | translate}}</p>
        </div>
      </div>
      <div class="about">
        <div class="about__details">
          <p>
            {{'portfolio.why-me.p-1' | translate}}
            
          </p>
        </div>
        <button>Let's talk</button>
      </div>
    </div>
  </div>
</section>
