@use '../../../../../public/styles/abstract/variables' as variables;

.portfolio {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: 2500px;
  width: 100%;
  max-width: 1440px;
  background-color: variables.$color-dark;

  &__p-1 {
    text-align: center;
    top: 20px;
  }
}

.title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;

  &__line-1 {
    width: 500px;
    height: 4px;
  }

  &__line-2 {
    width: 100px;
    height: 4px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 120px;
  top: 20px;

  &__project {
    display: flex;
    justify-content: center;
    gap: 80px;
    top: 150px;

    img {
      height: 280px;
    }

    &--right {
      flex-direction: row-reverse;
      margin-right: 100px;
      text-align: right;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 320px;
  top: 20px;

  h3 {
    font-family: 'Poppins-bold';
    font-size: 32px;
    color: variables.$color-secondary;
  }

  &__p-1 {
    top: 13px;
    font-size: 23px;
    color: variables.$color-primary;
  }

  &__p-2 {
    top: 23px;
  }

  &__options {
    display: flex;
    gap: 80px;
    top: 50px;

    &--right {
      justify-content: flex-end;
    }
  }
}

.testemonials {
  display: flex;
  align-self: flex-end;
  top: 300px;
  gap: 50px;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 280px;
    padding: 40px 70px;
    font-family: "Montserrat-regular";
    border: 4px solid variables.$color-primary;
    border-radius: 30px;

    p {
      font-size: 20px;
      border: none;
    }

    div {
      display: flex;
      align-self: end;
      align-items: center;
      gap: 20px;
      font-size: 18px;
      border: none;

      img {
        height: 4px;
        width: 360px;
        border: none;
      }
    }
  }
}

.character {
  display: flex;
  align-items: center;

  &__photo {
    height: 250px;
    border: 4px solid variables.$color-secondary;
    border-radius: 50%;
  }

  &__line {
    height: 4px;
    width: 100px;
  }
}