@use "./variables" as variables;

@mixin my-section {
  display: flex;
  justify-content: center;
  background-color: variables.$color-dark;
}


@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-c-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}


@mixin flex-s-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-c-s-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@mixin flex-s-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-c-s-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
