@use './variables' as all;

@mixin my-section {
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans regular';
  font-size: 16px;
  color: all.$color-secondary;
  background-color: all.$color-background;
}

@mixin display-flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0, $grow: 0, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-grow: $grow;
  flex-wrap: $wrap;
  
}
