<section>
  <div class="content">
    <div class="title">
      <span class="question">{{ 'portfolio.teamplayer.title-1' | translate }} </span>
      <span>{{ 'portfolio.teamplayer.title-2' | translate }} </span>
    </div>

    <div class="references">
      @for (ref of references(); track $index) {
        <div class='reference'>
          <h4>{{ ref.name }}</h4>
          <p>
            Project <span>{{ ref.project }}</span>
          </p>
          <p class="statement">{{ ref.statement }}</p>
        </div>
      }
    </div>
  </div>
</section>
