@use '../../../../public/styles/main' as all;
section {
  @include all.display-flex($justify: center);
  background-color: all.$color-background;
}

.content {
  @include all.display-flex($justify: center);

  width: 100%;
  max-width: 1440px;
  height: 95vh;
  margin-top: clamp(48px, 12vw, 120px);
  font-size: clamp(22px, 6vw, 48px);
  color: all.$color-primary;
}
