<app-header></app-header>
<section>
  <div class="content">
    <h2>{{ 'portfolio.imprint.title-1' | translate }}</h2>
    <p>
      Mohammad Reza Behruz <br />
      Hindemithstraße 06<br />
      85057 Ingolstadt
    </p>
    <h3>{{ 'portfolio.imprint.title-2' | translate }}</h3>
    <p>
      Telefon: +49 (0) 15751492254<br />
      E-Mail: behruz.mreza@gmail.com
    </p>
    <p class="quelle">
      {{ 'portfolio.imprint.source' | translate }}:
      <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </p>
  </div>
</section>
<app-footer></app-footer>
