<section class="footer">
  <div class="content">
    <div class="content__logo">
      <img src="assets/logo/logo.png" alt="logo" />
      <p>Legal Notice</p>
    </div>
    <div class="content__register">
      <p>&#169; Reza Behruz {{ currentYear }}</p>
    </div>
    <div class="content__social-media">
      <a href="https://github.com/rezabehruz" target="_blank">
        <img src="assets/icons/github.png" alt="github" />
      </a>
      <a href="mailto:behruz.mreza@gmail.com" target="_blank">
        <img src="assets/icons/email.png" alt="email" />
      </a>
      <a href="https://www.linkedin.com/in/reza-behruz/" target="_blank">
        <img src="assets/icons/linkedIn.png" alt="linkedIn" />
      </a>
    </div>
  </div>
</section>
