@use '../../../../../public/styles/main' as all;

.footer {
  @include all.my-section;
}

.content {
  height: 300px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid all.$color-primary;

  &__logo {
    margin-left: 100px;
    border: none;
  }

  &__register {
    border: none;
    p {
      font-size: 23px;
    }
  }

  &__social-media {
    display: flex;
    gap: 30px;
    margin-right: 100px;
    border: none;
  }
}
