<section class="footer">
  <div class="content">
    <div class="content__logo">
      <img src="assets/logo/logo.png" alt="logo" />
      <p>Legal Notice</p>
    </div>
    <div class="content__register">
      <p>&#169; Reza Behruz {{ currentYear }}</p>
    </div>
    <div class="content__social-media">
      <a href=""><img src="assets/icons/github.png" alt="github" /></a>
      <a href=""><img src="assets/icons/email.png" alt="email" /></a>
      <a href=""><img src="assets/icons/linkedIn.png" alt="linkedIn" /></a>
    </div>
  </div>
</section>
