<header>
  <div class="content">
    <a href="#" class="content__logo">
      <img src="assets/logo/logo.png" alt="logo"  />
    </a>
    <div class="content__nav-lang">
      <nav>
        <ul class="content__nav-lang__nav">
          <li><a href="#" class="content__nav-lang__nav__option">About me</a></li>
          <li><a href="#" class="content__nav-lang__nav__option">Skills</a></li>
          <li><a href="#" class="content__nav-lang__nav__option">Portfolio</a></li>
        </ul>
      </nav>
      <section class="content__nav-lang__lang">
        <button class="button button--transparent button--lang">DE</button>
        <button class="button button--primary button--lang">EN</button>
      </section>
    </div>
  </div>
</header>
