// Variables

$color-primary: #70e61c;
$color-secondary: #9747ff;
$color-disabled: #b6b6b6;
$color-white: #ffffff;
$color-dark: #141d2f;

// header component

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-dark;
  height: 110px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  color: $color-white;
  background-color: $color-dark;

  &__logo {
    left: 100px;
    bottom: 8px;
  }

  &__nav-lang {
    display: flex;
    right: 200px;
    bottom: 8px;

    &__nav {
      display: flex;
      gap: 20px;

      &__option {
        font-size: 23px;
        font-family: "poppins";

        &:hover {
          color: $color-primary;
        }
      }
    }

    &__lang {
      display: flex;
      gap: 15px;
      left: 100px;
    }
  }
}
