@use '../abstract/variables' as all;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  list-style: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background: initial;
  border: initial;
}

button {
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: 'Anta regular';
  font-size: clamp(28px, 5vw, 78px);
  font-weight: 400;
  color: all.$color-primary;
}
