@use '../abstract/variables' as variables;
 
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: inherit;
  font-family: inherit;
  color: inherit;
  background: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  font-family: 'Poppins-regular';
  color: variables.$color-white;
}

h2 {
  font-family: "Poppins-bold";
  font-size: 90px;
}
