<app-header></app-header>
<section class="imprint">
  <div class="content">
    <div class="title">
      <img src="assets/icons/line-horizontal.png" alt="line-horizontal" class="title__img-1" />
      <h2>Legal Notice</h2>
      <img src="assets/icons/line-horizontal.png" alt="line-horizontal" class="title__img-2" />
    </div>

    <div class="detail">
      <h3>Imprint</h3>
      <p>
        Mohammad Reza Behruz<br />
        Hindemithstra&szlig;e 06<br />
        85057 Ingolstadt
      </p>
      <h3>Contact</h3>
      <p>
        Telefon: +49 (0) 15751492254<br />
        E-Mail: behruz.mreza@gmail.com
      </p>
      <p class="detail__source">Source: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
  </div>
</section>
<app-footer></app-footer>
