<app-header></app-header>
<section>
  <div class="content">
    <h2>{{ 'portfolio.legal-notice.title-1' | translate }}</h2>
    <p>1. {{ 'portfolio.legal-notice-1' | translate }}</p>

    <pre>
      Mohammad Reza Behruz
      85057 Ingolstadt
      E-Mail: contact@rezabehruz.de
    </pre>

    <p>2. {{ 'portfolio.legal-notice-2' | translate }}</p>
    <p>3. {{ 'portfolio.legal-notice-3' | translate }}</p>
    <p>4. {{ 'portfolio.legal-notice-4' | translate }}</p>
    <p>5. {{ 'portfolio.legal-notice-5' | translate }}</p>
    <p>6. {{ 'portfolio.legal-notice-6' | translate }}</p>
    <p>7. {{ 'portfolio.legal-notice-7' | translate }}</p>
    <p>8. {{ 'portfolio.legal-notice-8' | translate }}</p>
    <p>9. {{ 'portfolio.legal-notice-9' | translate }}</p>
    <p>10. {{ 'portfolio.legal-notice-10' | translate }}</p>
    <p>11. {{ 'portfolio.legal-notice-11' | translate }}</p>
  </div>
</section>
<app-footer></app-footer>
