@use '../../../../public/styles/main' as all;

section {
 @include all.display-flex($justify: center);
 background-color: all.$color-background;
 color: all.$color-secondary;
}

.content {
  @include all.display-flex($direction: column);
  width: 100%;
  max-width: 1440px;
  height: 90vh;
  margin-top: clamp(72px, 9vw, 120px);
  margin-left: clamp(22px, 10vw, 150px);
  font-family: 'Josefin Sans regular';
  font-size: 28px;

  @include all.mobile {
    font-size: 16px;
  }

  .menu-mobile {
    @include all.display-flex($direction: column, $gap: 12px, );
    position: absolute;
    top: -98px;
    right: 20px;
    padding: 12px 16px;
    border-radius: 8px 0px 8px 8px;
    background-color: all.$color-primary;
    color: all.$color-background;
    z-index: 1;

    ul {
      @include all.display-flex($direction: column, $gap: 8px);
      min-width: 80px;
    }

    .language {
      @include all.display-flex($justify: space-around);
    }

    .active-lang{
      color: all.$color-secondary;
    }
  }

  h2 {
    margin-bottom: clamp(16px, 4vw, 34px);
    text-align: left;
  }

  h3 {
    margin-top: clamp(22px, 5vw, 54px);
    margin-bottom: clamp(16px, 3vw, 32px);
    font-family: 'Anta regular';
    font-size: clamp(22px, 4vw, 62px);
    font-weight: 400;
    color: #89bcd9;
  }

  .quelle {
    margin-top: clamp(22px, 5vw, 54px);
  }
}

