<section>
  <div class="content">
    <h2>My Skills</h2>

    <div class="techs">
      <div class="icons">
        <div class="tech">
          <img src="assets/icons/technologies/angular.png" alt="angular" />
          <p>Angular</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/ts.png" alt="TypeScript" />
          <p>TypeScript</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/js.png" alt="JavaScript" />
          <p>JavaScript</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/sass.png" alt="sass" />
          <p>Sass</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/css.png" alt="css" />
          <p>CSS</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/html.png" alt="html" />
          <p>HTML</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/material-design.png" alt="material-design" />
          <p>Material Design</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/redis.png" alt="redis" />
          <p>Redis</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/django.png" alt="django" />
          <p>Django</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/python.png" alt="python" />
          <p>Python</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/sql.png" alt="sql" />
          <p>SQL</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/postgreSQL.png" alt="PostgreSQL" />
          <p>PostgreSQL</p>
        </div>
        <div class="tech">
          <img src="assets/icons/technologies/supabase.png" alt="supabase" />
          <p>Supabase</p>
        </div>
      </div>
      <div class="current-learning">
        <p>I am currently learning</p>
        <div class="icons-details">
          <div class="learning-icons">
            <div class="tech">
              <img src="assets/icons/technologies/react.png" alt="react" />
              <p>React</p>
            </div>
            <div class="tech">
              <img src="assets/icons/technologies/vuejs.png" alt="supabase" />
              <p>Vue Js</p>
            </div>

          </div>
          <p>
            Show that you are motivated to continually improve your skills, implement innovative
            solutions and stay abreast of new technologies.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
