/* You can add global styles to this file, and also import other style files */
@use "../public/assets/fonts/fonts";


* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: inherit;
  font-family: inherit;
  color: inherit;
  background: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


// Variables

$color-primary: #70e61c;
$color-secondary: #9747ff;
$color-disabled: #b6b6b6;
$color-white: #ffffff;
$color-dark: #141d2f;


// Mixins

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


//  Button Block
      
.button {
  font-family: "poppins";
  font-size: 23px;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
}

// Button Modifier

.button--lang {
  width: 40px;
  height: 32px;
  font-size: 18px;
  padding: 1px 8px 5px;
}

.button--primary {
  background-color: $color-primary;
}

.button--secondary {
  background-color: $color-secondary;
}

.button--transparent {
  border: 1px solid $color-primary;

  &:hover {
    border: none;
    background-color: $color-secondary
  }
}

.button--disabled {
  background-color: $color-disabled;;
}
